.accordion-button::after{
    height: 0;
}
.accordion-button{
    position: relative;
    padding:0;
}
.accordion-button div{
    position: relative;
    padding: 15px;
    padding-right: 100px;
}
.accordion-body div div{
    border: 1px solid rgba(207, 207, 207, 0.741);
    border-collapse: collapse;
    align-items: center;
}